@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
    h1 {
        @apply text-6xl font-bold;
    }
    h2 {
        @apply text-5xl font-bold;
    }
    h3 {
        @apply text-4xl font-bold;
    }
    h4 {
        @apply text-3xl font-bold;
    }
    h5 {
        @apply text-2xl font-bold;
    }
    h6 {
        @apply text-lg ;
    }
}

@layer components{
    .menu-item{
        @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-[#acd1af] hover:bg-white/10 hover:text-zinc-200 transition-colors ease-in-out whitespace-nowrap
    }
}

#carousel, #carouselTeam {
    overflow-x: hidden;
  }

/* Custom CSS for the Marquee Effect */
.marquee {
    display: flex;
    animation: marquee 30s linear infinite; /* Adjust the speed here */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-259.35%); /* Scroll by half of the total width (after duplicating the elements) */
    }
  }
  
  